name: Container Security Scanning

on:
  workflow_call:
    inputs:
      version:
        description: "Semantic version of the image"
        type: string

      container-file:
        description: "Path to the Dockerfile"
        type: string
        default: "Dockerfile"

      container-name:
        description: "Name of the container"
        type: string
        default: "${{ github.repository }}"

      scanning-block:
        description: "Block the build if vulnerabilities are found"
        type: string
        default: "false"

env:
  REGISTRY: ghcr.io

jobs:
  scan-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build Initial Container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          file: "${{ inputs.container-file }}"
          context: .
          load: true
          push: false
          tags: localbuild/testimage:latest

      # Scan the image for vulnerabilities
      - name: Run the Anchore / Grype scan action
        uses: anchore/scan-action@1638637db639e0ade3258b51db49a9a137574c3e # v6.5.1
        id: scan
        with:
          image: localbuild/testimage:latest
          only-fixed: true
          fail-build: ${{ inputs.scanning-block }}

      - name: Upload SARIF artifact
        uses: actions/upload-artifact@v4
        with:
          name: sarif
          path: ${{ steps.scan.outputs.sarif }}

      - name: Upload vulnerability report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
