name: "Self - Publish Wiki"

on:
  push:
    branches: ["main"]
    paths:
      - wiki/**
      - .github/workflows/wiki.yml


permissions:
  contents: write

jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - uses: Andrew-Chen-Wang/github-wiki-action@6448478bd55f1f3f752c93af8ac03207eccc3213
